<form (ngSubmit)="onSubmit(f)" #f="ngForm">
  <fieldset class='the-fieldset'>
    <legend class='the-legend'>Charge Point:</legend>
    <div class="row mt-2 chargerRow">
      <div class="col-md-10 offset-1">
        <div class="row chargerSelect cargerRRow">
          <!-- <div class="row mt-2">
            <div class="col-md-10 offset-1">
              <div class="form-group row">
                <label class="col-md-1 col-form-label">Charge Bunk Operator</label>
                <div class="col-md-3">
                  <select name="network" ngModel id="" (change)='isitnew(networkV.value, "network")' #networkV class="form-control">
                    <option value="all">All</option>
                    <option value="new1">new1</option>
                    <option value="new2">new2</option>
                    <option value="new">New</option>
                  </select>
                  <input type="text" ngModel required name='newNetwork' *ngIf='newNetwork' class="form-control mt-1">
                </div>
                <label class="col-md-1 col-form-label">charge Bunk Owner</label>
                <div class="col-md-3">
                  <select name="owner" ngModel (change)='isitnew(ownerV.value, "owner")' id="" #ownerV class="form-control">
                    <option value="">All</option>
                    <option value="xxxx">xxxx</option>
                    <option value="xxxx">yyyy</option>
                    <option value="xxxx">zzzz</option>
                    <option value="new">new</option>
                  </select>
                  <input type="text" ngModel required name='newOwner' *ngIf='newOwner' class="form-control mt-1">
                </div>
                <label class="col-md-1 col-form-label
                        ">Charge Bunk</label>
                <div class="col-md-3">
                  <select name="station" ngModel (change)='isitnew(stationV.value, "station")' id="" #stationV class="form-control">
                    <option value="all">All</option>
                    <option value="xxxx">xxxx</option>
                    <option value="xxxx">yyyy</option>
                    <option value="xxxx">zzzz</option>
                    <option value="new">new</option>
                  </select>
                  <input type="text" ngModel name='newStation' *ngIf='newStation' class="form-control mt-1">
                </div>
              </div>
            </div>
          </div> -->
          <div class="col-md-4">
              <div class="d-flex justify-content-between form-group">
                  <label for="" class="col-form-label col-form-label-md">Charge Bunk Operator</label>
                  <select name="chargeBunkOperatorName" ngModel required id="" class="custom-select custom-select-sm">
                    <option value="all">All</option>
                    <option value="xxxx">xxxx</option>
                    <option value="yyyy">yyyy</option>
                    <option value="zzz">zzzz</option>

                  </select>
                </div>
            <div class="d-flex justify-content-between form-group">
              <label for="" class="col-form-label col-form-label-md">ID</label>
              <div class="my-auto">
                <input type="text" name="id" ngModel required class="form-control-sm">
              </div>
            </div>
            <div class="d-flex justify-content-between form-group">
              <label for="" class="col-form-label col-form-label-md connectors">Connectors</label>
              <div class="my-auto">
                <input type="number" name="connectors" ngModel required class="form-control-sm">
              </div>
            </div>
          </div>
          <div class="col-md-4">
              <div class="d-flex justify-content-between form-group">
                  <label for="" class="col-form-label col-form-label-md">Charge Bunk Owner</label>
                  <select name="chargebunkowner" ngModel required id="" class="custom-select custom-select-sm">
                    <option value="all">All</option>
                    <option value="xxxx">xxxx</option>
                    <option value="yyyy">yyyy</option>
                    <option value="zzz">zzzz</option>
                  </select>
                </div>
            <div class="d-flex justify-content-between form-group">
              <label for="" class="col-form-label col-form-label-md">Type</label>
              <select name="type1" ngModel required id="" class="custom-select custom-select-sm">
                <option value="all">All</option>
                <option value="xxxx">xxxx</option>
                <option value="yyyy">yyyy</option>
                <option value="zzz">zzzz</option>
              </select>
            </div>

            <div class="d-flex justify-content-between form-group">
              <label for="" class="col-form-label col-form-label-md">Type</label>
              <select name="type2" ngModel required id="" class="custom-select custom-select-sm">
                <option value="all">All</option>
                <option value="xxxx">xxxx</option>
                <option value="yyyy">yyyy</option>
                <option value="zzz">zzzz</option>
              </select>
            </div>
            <div class="d-flex justify-content-between form-group">
              <label for="" class="col-form-label col-form-label-md">Type</label>
              <select name="type3" ngModel required id="" class="custom-select custom-select-sm">
                <option value="all">All</option>
                <option value="xxxx">xxxx</option>
                <option value="yyyy">yyyy</option>
                <option value="zzz">zzzz</option>
              </select>
            </div>
          </div>
          <div class="col-md-4">
              <div class="d-flex justify-content-between form-group">
                  <label for="" class="col-form-label col-form-label-md">charge bunk </label>
                  <select name="chargebunk" ngModel required id="" class="custom-select custom-select-sm">
                    <option value="all">All</option>
                    <option value="xxxx">xxxx</option>
                    <option value="yyyy">yyyy</option>
                    <option value="zzzz">zzzz</option>

                  </select>
                </div>
            <div class="d-flex justify-content-between form-group">
              <label for="" class="col-form-label col-form-label-md">Status</label>
              <select name="status" ngModel required id="" class="custom-select custom-select-sm">
                <option value="all">All</option>
                <option value="xxxx">xxxx</option>
                <option value="yyyy">yyyy</option>
                <option value="zzz">zzzz</option>

              </select>
            </div>
            <div class="d-flex justify-content-between form-group">
              <label for="" class="col-form-label col-form-label-md">Autherization Key</label>
              <input type="text" name="autherization" ngModel required>
            </div>
          </div>
        </div>
        <div class="row cargerRRow">
          <div class="col-md-5 border moreCharder-details">
            <div class="d-flex justify-content-between">
              <label>Protocol</label>
              <input type="text" name="protocol" ngModel required class="form-control-sm">
            </div>
            <div class="d-flex justify-content-between">
              <label>Vendor</label>
              <input type="text" name="vendor" ngModel required class="form-control-sm">
            </div>
            <div class="d-flex justify-content-between">
              <label>Model</label>
              <input type="text" name = "model" ngModel required class="form-control-sm">
            </div>
            <div class="d-flex justify-content-between">
              <label>Serial No.</label>
              <input type="text" name = "sno" ngModel required class="form-control-sm">
            </div>
            <div class="d-flex justify-content-between">
              <label>Box Serial No.</label>
              <input type="text" name = "bsno" ngModel required class="form-control-sm">
            </div>
            <div class="d-flex justify-content-between">
              <label>Filmware Version</label>
              <input type="text" name = "fv" ngModel required class="form-control-sm">
            </div>
            <div class="d-flex justify-content-between">
              <label>Fireware update</label>
              <input type="text" name = "fu" ngModel required class="form-control-sm">
            </div>
            <div class="col-md-12 justify-content-center d-flex">
              <button class="btn btn-outline-primary w-50">Edit</button>
            </div>

          </div>
          <div class="col-md-5 border moreCharder-details offset-1">
            <div class="d-flex justify-content-between">
              <label>Iccid</label>
              <input type="text" name = "iccid" ngModel class="form-control-sm">
            </div>
            <div class="d-flex justify-content-between">
              <label>Imsi</label>
              <input type="text" name = "imsi" ngModel class="form-control-sm">
            </div>
            <div class="d-flex justify-content-between">
              <label>Meter Serial No. </label>
              <input type="text" name = "msno" ngModel class="form-control-sm">
            </div>
            <div class="d-flex justify-content-between">
              <label>Meter Type</label>
              <input type="text" name = "mtype" ngModel class="form-control-sm">
            </div>
            <div class="d-flex justify-content-between">
              <label>Diagnostic Status</label>
              <input type="text" name = "ds" ngModel class="form-control-sm">
            </div>
            <div class="d-flex justify-content-between">
              <label>Communication</label>
              <input type="text" name = "communication" ngModel class="form-control-sm">
            </div>
            <div class="d-flex justify-content-between">
              <label>Last Heatbeat</label>
              <input type="text" name = "lh" ngModel class="form-control-sm">
            </div>
            <div class="col-md-12 justify-content-center d-flex">
              <button class="btn btn-outline-primary w-50">Edit</button>
            </div>
          </div>
        </div>
        <div class="d-flex justify-content-around mt-3">
          <button class="btn btn-outline-success w-25">Save</button>
          <!-- [disabled] = "!f.valid" -->
          <button (click)="onCancel(f)" class="btn btn-outline-danger w-25">Cancel</button>
        </div>
      </div>
    </div>
  </fieldset>
</form>
